body{
	width:100%;
	margin:0 auto;
}

.header{
	justify-content: space-around;
	display: flex;
	align-items:center;
	left: 0;
	background-color: orange;
}

ul{

}

li{
	list-style-type: none;
	float:left;
	padding: 20px 20px 20px 10px;
}

a{
	text-decoration: none;
	color:white;
}

header .header-bottom {
    background: #fff;
    transition: background 200ms ease-out 0s;
    z-index: 1030;
    height: 64px;
    box-sizing: content-box;
    top: -52.8px;
}

header .header-bottom .container {
    position: relative;
    height: 64px;
    white-space: nowrap;
}

.container {
    max-width: 1180px;
    padding: 0 10px;
}

.container {
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    min-height: 75%;
}

header .header-bottom .logo-container {
    box-sizing: content-box;
    padding-bottom: 0;
    text-align: left;
    max-height: 64px;
    min-width: 280px;
    max-width: 280px;
    float: left;
}

header .header-bottom .logo-container.large-btn .logo {
    background: url(Fun.png) no-repeat center left;
    background-image: url("Fun.png");
    width: 90px;
}

.new-year .logo-container.large-btn .logo {
    background-image: url("Fun.png") !important;
}

header .header-bottom .logo-container.large-btn .catalog-spoiler {
    transition: opacity 300ms ease-in 300ms;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    border-radius: 8px;
    background: linear-gradient(to top, #fc8507, #ffa218);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    left: auto;
    margin-left: 20px;
    padding: 9px 11px;
    position: relative;
    text-align: center;
    visibility: visible;
    width: calc(100% - 90px - 20px);
    vertical-align: middle;
}
header .header-bottom .logo-container .catalog-spoiler {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    position: absolute;
    left: -9999px;
    overflow: hidden;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header .header-bottom .logo-container.large-btn .catalog-spoiler {
    transition: opacity 300ms ease-in 300ms;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    border-radius: 8px;
    background: linear-gradient(to top, #fc8507, #ffa218);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    left: auto;
    margin-left: 20px;
    padding: 9px 11px;
    position: relative;
    text-align: center;
    visibility: visible;
    width: calc(100% - 90px - 20px);
    vertical-align: middle;
}
header .header-bottom .logo-container .catalog-spoiler {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    position: absolute;
    left: -9999px;
    overflow: hidden;
}
*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header .header-bottom .logo-container.large-btn .catalog-spoiler .chevron {
    -webkit-transform-origin: 0.5em 0.55em;
    -moz-transform-origin: 0.5em 0.55em;
    -ms-transform-origin: 0.5em 0.55em;
    -o-transform-origin: 0.5em 0.55em;
    transform-origin: 0.5em 0.55em;
    transition: all 200ms ease-out 0ms;
    margin-left: 1px;
    font-size: 10px;
    border-radius: 0;
    padding: 0;
    display: inline-block;
    background: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.presearch {
    padding: 12px 20px;
    width: 450px;
    display: inline-block;
    height: 64px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.presearch .ui-input-search_presearch {
    height: auto;
    font-size: 16px;
}
.ui-input-search {
    position: relative;
    background: #eaeaea;
    border-radius: 8px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    transition: background .3s;
}

.presearch .ui-input-search__input {
    box-sizing: border-box;
}
input[type="search"] {
    -webkit-appearance: none;
}
input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}
.ui-input-search__input {
    color: #333;
    background: #eaeaea;
    padding: 0 94px 0 12px;
    height: 34px;
    width: 100%;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: background .3s;
}
.ui-input-search__input {
    font-size: 16px;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.presearch .ui-input-search__icon_clear {
    right: 13px;
}
.presearch .ui-input-search__icon_presearch {
    width: auto;
    right: 15px;
}
.ui-input-search__icon_clear {
    display: none;
    margin-right: 35px;
}
.ui-input-search__icon {
    color: #8c8c8c;
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 16px;
    height: 100%;
    width: 40px;
    text-align: center;
    cursor: pointer;
}

header .header-bottom .logo-container.large-btn .catalog-spoiler .chevron {
    -webkit-transform-origin: 0.5em 0.55em;
    -moz-transform-origin: 0.5em 0.55em;
    -ms-transform-origin: 0.5em 0.55em;
    -o-transform-origin: 0.5em 0.55em;
    transform-origin: 0.5em 0.55em;
    transition: all 200ms ease-out 0ms;
    margin-left: 1px;
    font-size: 10px;
    border-radius: 0;
    padding: 0;
    display: inline-block;
    background: none;
}

.presearch {
    padding: 12px 20px;
    width: 450px;
    display: inline-block;
    height: 64px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.presearch .ui-input-search_presearch {
    height: auto;
    font-size: 16px;
}
.ui-input-search {
    position: relative;
    background: #eaeaea;
    border-radius: 8px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    transition: background .3s;
}

.presearch .ui-input-search__icon_presearch {
    width: auto;
    right: 15px;
}
.ui-input-search__icon {
    color: #8c8c8c;
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 16px;
    height: 100%;
    width: 40px;
    text-align: center;
    cursor: pointer;
}


.ui-input-search__icon_search::before {

    content: "\e930";

}

.presearch .ui-input-search__input {
    box-sizing: border-box;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input[type="search"] {
    -webkit-appearance: none;
}
.ui-input-search__input {
    font-size: 16px;
}
.ui-input-search__input {
    color: #333;
    background: #eaeaea;
    padding: 0 94px 0 12px;
    height: 34px;
    width: 100%;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: background .3s;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.presearch .ui-input-search__icon_presearch {
    width: auto;
    right: 15px;
}

header .header-bottom .container .buttons {
    background-color: transparent;
    float: none;
    margin: 0;
    text-align: left;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
header .header-bottom .container .logo-container, header .header-bottom .container .buttons {
    display: inline-block;
    vertical-align: top;
}
header .header-bottom .container .buttons {
    height: 64px;
    width: calc(100% - 280px - 576px);
}
header .header-bottom .buttons {
    padding: 18px 0;
}

.presearch .ui-input-search__icon_presearch {
    width: auto;
    right: 15px;
}
.presearch .ui-input-search__icon_presearch {
    width: auto;
    right: 15px;
}
.presearch .ui-input-search__icon_presearch {
    width: auto;
    right: 15px;
}
.ui-input-search__icon {
    color: #8c8c8c;
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 16px;
    height: 100%;
    width: 40px;
    text-align: center;
    cursor: pointer;
}
header .header-bottom .buttons a {
    font-size: 15px;
}
.compare-link {
    position: relative;
}
.ui-link {
    transition-duration: .3s;
    transition-property: color;
    text-decoration: none;
    color: #333;
}
a {
    color: #0094d9;
    text-decoration: none;
}
a {
    cursor: pointer;
}
a {
    background-color: transparent;
    text-decoration: none;
}

.new-year .compare-link__icon {
    font-size: 19px;
}
.new-year .compare-link__icon {
    background-image: url("images/compare.svg");
    background-repeat: no-repeat;
    font-size: 20px;
}
.compare-link__icon {
    color: #afafaf;
    font-size: 21px;
}

